[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
[submodule "themes/hugo-bootstrap-theme"]
	path = themes/hugo-bootstrap-theme
	url = https://github.com/filipecarneiro/hugo-bootstrap-theme.git
