// https://www.northwestern.edu/brand/visual-identity/color-palettes/

$nu-purple: #4E2A84;

$nu-purple-10: #E4E0EE;
$nu-purple-20: rgb(204, 196, 223);
$nu-purple-30: #B6ACD1;
$nu-purple-40: rgb(164, 149, 195);
$nu-purple-50: rgb(147, 128, 182);
$nu-purple-60: #836EAA;
$nu-purple-70: rgb(118, 093, 160);
$nu-purple-80: rgb(104, 076, 150);
$nu-purple-90: #5B3B8C;
$nu-purple-100: $nu-purple;
$nu-purple-110: rgb(072, 036, 118);
$nu-purple-120: #401F68;
$nu-purple-130: rgb(056, 023, 090);
$nu-purple-140: rgb(048, 016, 078);
$nu-purple-150: rgb(038, 008, 065);
$nu-purple-160: rgb(029, 002, 053);

$nu-blue: #5091CD;
$nu-red: #EF553F;
$nu-orange: #FFC520;
$nu-yellow: #EDE93B;
$nu-green: #58B947;
$nu-cyan: #7FCECD;

$nu-blue-dark: #0D2D6C;
$nu-red-dark: #D85820;
$nu-orange-dark: #CA7C1B;
$nu-yellow-dark: #D9C826;
$nu-green-dark: #008656;
$nu-cyan-dark: #007FA4;

$nu-white: #fff;
$nu-black: #000;

$nu-gray-0: $nu-white;
// $nu-gray-10: #4E2A84;
// $nu-gray-20: #4E2A84;
// $nu-gray-30: #4E2A84;
// $nu-gray-40: #4E2A84;
// $nu-gray-50: #4E2A84;
// $nu-gray-60: #4E2A84;
// $nu-gray-70: #4E2A84;
// $nu-gray-80: #4E2A84;
// $nu-gray-90: #4E2A84;
$nu-gray-100: $nu-black;
