<nav class="navbar navbar-expand-lg navbar-dark bg-primary btn-lg">

      <a class="navbar-brand" href="index.html">
            <svg class="bi bi-house-fill home-icon" width="32" height="32" viewBox="0 0 16 16"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                        d="M8 3.293l6 6V13.5a1.5 1.5 0 01-1.5 1.5h-9A1.5 1.5 0 012 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 01.5-.5h1a.5.5 0 01.5.5z"
                        clip-rule="evenodd" />
                  <path fill-rule="evenodd"
                        d="M7.293 1.5a1 1 0 011.414 0l6.647 6.646a.5.5 0 01-.708.708L8 2.207 1.354 8.854a.5.5 0 11-.708-.708L7.293 1.5z"
                        clip-rule="evenodd" />
            </svg>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                  <!-- <a class="nav-link" href="index.html">Home</a> -->

                  <!-- <li class="nav-item">
                        <a class="nav-link" href="events.html">Events</a>
                  </li> -->

                  <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Events
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                              <!-- <a class="dropdown-item disabled">Unofficial Sources</a>
                              <div class="dropdown-divider"></div>            -->
                              <a class="dropdown-item" href="events.html">Overview</a>

                              <div class="dropdown-divider"></div>
                              <!-- <a class="dropdown-item disabled">Other events</a>
                              <div class="dropdown-divider"></div> -->
                              <a class="dropdown-item" target="_blank"
                                    href="https://www.mccormick.northwestern.edu/computer-science/news-events/events/">CS
                                    Department</a>
                              <a class="dropdown-item" target="_blank"
                                    href="https://www.mccormick.northwestern.edu/events/">McCormick School</a>
                              <a class="dropdown-item" target="_blank"
                                    href="https://www.tgs.northwestern.edu/about/events/">TGS</a>
                        </div>
                  </li>

                  <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Initiatives
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                              <a class="dropdown-item" href="initiatives.html">All Initiatives</a>

                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item disabled">Student Led</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="aijc.html">AIJC</a>
                              <a class="dropdown-item" href="cspac.html">CSPAC</a>
                              <a class="dropdown-item" href="cssi.html">CSSI</a>
                              <a class="dropdown-item" href="gwic.html">GWiC</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="cs_slack.html">CS++ Slack Workspace</a>

                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item  disabled">Department Led</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="algorithms_coffee.html">Algorithms Coffee</a>
                              <a class="dropdown-item" href="code-n-color.html">Code'n'Color</a>
                              <!-- <a class="dropdown-item" href="friday_bagels">Adobe Friday Bagels</a> -->
                              <!-- <a class="dropdown-item" href="ur_coffee.html">UR Computing-ish Hangout</a> -->

                        </div>
                  </li>

                  <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Resources
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                              <a class="dropdown-item disabled">Student Curated</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" target="_blank"
                                    href="https://github.com/nu-cspac/nu-cs/wiki">CSPAC Wiki</a>

                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item  disabled">Official Pages</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" target="_blank"
                                    href="https://www.mccormick.northwestern.edu/computer-science/students/">Student
                                    resources @ CS Website</a>

                        </div>
                  </li>

                  <li class="nav-item">
                        <a class="nav-link" href="about">About</a>
                  </li>

            </ul>
      </div>
</nav>
