{{ define "main" }}

<div class="container py-3">

    {{ range .Pages }}
    <div class="card border-light-subtle mb-3">
        <div class="row g-0">

            <div class="col-md-12">
                <div class="card-body">
                    <h2 class="card-title text-primary">{{ .Title }}</h2>

                    <div class="card-subtitle text-muted mb-3">
                        {{ .Params.description }}
                    </div>

                    <a class="stretched-link" href="{{.RelPermalink}}"></a>
                </div>
            </div>

        </div>
    </div>
    {{ end }}

</div>
{{ end }}
